@import "./fonts.scss";
html {
  font-family: "Poppins", sans-serif;
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #FAFBFF;
  display: flex;
}

@import './blocks/sideMenu/side-menu';
@import './blocks/product/producnt.scss'