&_inactive {
  @extend .product__info__table__button;

  border: 1px solid #df0404;
  background: #ffc5c5;
  color: #df0404;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.14px;

}
