&__navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 53px;
  box-sizing: border-box;
  width: 100%;
  padding: 0px 28px;

  &__item {
    box-sizing: border-box;
    width: 250px;
    height: 46px;
    padding: 11px 15px 11px 11px;
    border-radius: 8px;
    margin-bottom: 18px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;


    &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__logo-wrapper {
      width: 24px;
      height: 24px;
    }
    &__logo {
      width: 100%;
    }
    &__title {
      margin-left: 14px;
      color: #9197b3;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: -0.14px;
    }
    &__arrow {
      width: 16px;
      height: 16px;
    }
    &__arrow-image {
      width: 100%;
    }

    @import './active';
  }

  
}
